{% load widget_tweaks %}


<div class="containe-fluid mt-5">
    <div class="scrollable-container">
        <h2 class="text-center mb-4">Leave Policy</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label  class="form-label">Set Leave Policy</label>
                    {% render_field leave_policy_form.leave_policy class+="form-control" placeholder="21 Days.." %}
                </div>
            </div>   


            <div class="d-flex  mt-4">
            <button type="submit" name="leave_policy_form_submit" class="btn btn-primary">Save Leave Policy </button>
            </div>
          </form>



          <br>
<div class="table-controls mb-3">
    
</div>
        <h3 class="text-center">Leave Policies</h3>
    <!-- Scrollable Table -->
    <div class="table-container">
        <table class="table table-hover" id="employeeTable">
            <thead class="table-primary">
                <tr class="table-header">
                    <tr>
                        <th>Leave Policy</th>
                        <th>Actions</th>
                    </tr>
                </tr>
            </thead>
            <tbody>
                {% for p in policy %}
                    <tr>
                        <td>{{ p.leave_policy }}</td>
                        <td>Actions Here</td>  <!-- Display Yes or No for final approver -->
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No approval hierarchies found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>