{% load widget_tweaks %}
    <div class="containe-fluid mt-5">
        <div class="scrollable-container">
            <h2 class="text-center mb-4">Leave Configuration</h2>
            <!-- Leave Type Configuration Card -->
            <div class="card shadow-sm mb-4">
                <div class="card-body d-flex align-items-center">
                    <div class="card-icon bg-primary text-white me-3">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <h5 class="card-title mb-0">Add Leave Types</h5>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="leaveTypeName" class="form-label">Leave Name</label>
                                {% render_field leave_form.leave_name placeholder="Leave Name" class+="form-control" %}
                            </div>
                            <div class="col-md-6">
                                <label for="leaveDays" class="form-label">Leave Days Allowed</label>
                                {% render_field leave_form.leave_days_allowed placeholder="Leave Days Allowed" class+="form-control" %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="maxLeavesPerMonth" class="form-label">Max Leaves Per Month</label>
                                {% render_field leave_form.max_leaves_per_month placeholder="e.g 2" class+="form-control" %}
                            </div>
                            <div class="col-md-6">
                                <label for="leavePaid" class="form-label">Is Paid Leave?</label>
                                {% render_field leave_form.is_paid  class+="form-control" %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="autoApproval" class="form-label">Auto Approval?</label>
                                {% render_field leave_form.auto_approval class+="form-control" %}
                            </div>
                            
                        </div>
                        <button type="submit" name="leave_form" class="btn btn-primary">Add Leave</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
