{% load widget_tweaks %}


<div class="containe-fluid mt-5">
    <div class="scrollable-container">
        <h2 class="text-center mb-4">Document Types</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label  class="form-label">Upload Document Type</label>
                    {% render_field doc_type_form.doc_type class+="form-control" placeholder="e.g Passport." %}
                </div>
            </div>   


            <div class="d-flex  mt-4">
            <button type="submit" name="upload_doc_form_submit" class="btn btn-primary">Save</button>
            </div>
          </form>



          <br>
<div class="table-controls mb-3">
    
</div>
        <h3 class="text-center">Document Types</h3>
    <!-- Scrollable Table -->
    <div class="table-container">
        <table class="table table-hover" id="employeeTable">
            <thead class="table-primary">
                <tr class="table-header">
                    <tr>
                        <th>Document Name</th>
                        <th>Actions</th>
                    </tr>
                </tr>
            </thead>
            <tbody>
                {% for p in doc_types %}
                    <tr>
                        <td>{{ p.doc_type }}</td>
                        <td>Actions Here</td>  <!-- Display Yes or No for final approver -->
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No Document Type Found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>