{% extends 'templates/navs.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}
<div class="header-image"> </div>
<div class="container-fluid mt-6">
    <div class="scrollable-container">
     <h2 class="text-center mb-4">Edit Leave:  {{ leave.leave_name }} </h2>
            <form method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="leaveTypeName" class="form-label">Leave Name</label>
                        {% render_field form.leave_name placeholder="Leave Name" class+="form-control" %}
                    </div>
                    <div class="col-md-6">
                        <label for="leaveDays" class="form-label">Leave Days Allowed</label>
                        {% render_field form.leave_days_allowed placeholder="Leave Days Allowed" class+="form-control" %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="maxLeavesPerMonth" class="form-label">Max Leaves Per Month</label>
                        {% render_field form.max_leaves_per_month placeholder="e.g 2" class+="form-control" %}
                    </div>
                    <div class="col-md-6">
                        <label for="leavePaid" class="form-label">Is Paid Leave?</label>
                        {% render_field form.is_paid  class+="form-control" %}
                    </div>
                    <div class="col-md-6">
                        <label for="leavePaid" class="form-label">Leave Approver</label>
                        {% render_field form.leave_approver  class+="form-control" %}
                    </div>
                </div>
                
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'leave_config_dashboard' %}" class="btn btn-secondary">Cancel</a>
</form>


    </div>
</div>
{%endblock%}