{% extends 'templates/navs.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}
<div class="header-image"> </div>
<div class="container-fluid mt-6">
    <div class="scrollable-container">
     <h2 class="text-center mb-4">Edit Department: {{ department.dep_name }}</h2>




<form method="POST">
    {% csrf_token %}
    <!-- Department Name -->
    <div class="mb-3">
        <label for="deptName" class="form-label">Department Name</label>
        {% render_field form.dep_name placeholder="Department Name" class+="form-control" %}
    </div>

    <!-- Department Code -->
    <div class="mb-3">
        <label for="deptCode" class="form-label">Department Code</label>
        {% render_field form.dep_code placeholder="Department Code" class+="form-control" %}
    </div>

    <!-- Department Head -->
    <div class="mb-3">
        <label for="deptHead" class="form-label">Department Head</label>
        {% render_field form.dep_head class+="form-control" %}

    </div>

    <!-- Description -->
    <div class="mb-3">
        <label for="deptDescription" class="form-label">Description</label>
        {% render_field form.dep_description placeholder="Department Description" class+="form-control" %}
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'employees' %}" class="btn btn-secondary">Cancel</a>
    </div>
    
</form>

</div>
</div>
{%endblock%}
