{% load static %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/emp_edit.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
    .alert {
        position: relative;
    }

    .close {
        transition: color 0.2s;
    }

    .close:hover {
        color: #ff2a00; 
    }

    .alert-info {
        border-color: #b8daff; 
    }

    .alert-info p {
        margin-bottom: 0; 
    }
</style>
{% endblock %}
<!-- <div class="container-fluid" > -->
    
    <div class="row text-center mb-4">
        <div class="col-md-4">
            <div class="dashboard-card card-total-employees">
                <div class="icon-container">
                    <i class="fas fa-users"></i> <!-- employee icon -->
                </div>
                <div class="dashboard-text">
                    <h5>Total Employees</h5>
                    <h3>{{ total_employees }}</h3> 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-card card-total-departments">
                <div class="icon-container">
                    <i class="fas fa-building"></i> <!-- Department Icon -->
                </div>
                <div class="dashboard-text">
                    <h5>Total Departments</h5>
                    <h3>{{total_departments}}</h3> 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-card card-total-supervisors">
                <div class="icon-container">
                    <i class="fas fa-user-tie"></i> <!-- Supervisors Icon -->
                </div>
                <div class="dashboard-text">
                    <h5>Total Supervisors</h5>
                    <h3>{{total_supervisors}}</h3> 
                </div>
            </div>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible fade show 
                {% if message.tags == 'success' %}alert-info{% endif %} 
                {% if message.tags == 'error' %}alert-danger{% endif %} 
                mt-2" role="alert">
                <p>{{ message }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="border: none; background: none; color: #007bff; font-size: 1.5rem; position: absolute; top: 10px; right: 15px; cursor: pointer;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
{% endif %}
{% if form.errors %}
    <div class="alert alert-danger">
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

    <div class="table-controls mb-3">
        
        <div class="search-container">
            
            <input type="text" id="employeeSearch" class="form-control" placeholder="Search...">
            <i class="fas fa-search search-icon"></i>
        </div>
        
        
    </div>
    <br>
<h3 class="text-center">Employee List</h3>
<div style="margin-bottom: 3px;">
    <a href="{% url 'add_employee' %}" class="btn btn-sm btn-primary "> <i class="fa fa-plus"></i> Employee</a>
</div>
<br>
    <div class="table-container">
        <table class="table table-hover" id="employeeTable">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employee_list %}
                <tr>
                    <td> {{ employee.employee_id }}</th>
                    <td>{{ employee.first_name }} {{employee.last_name}}</td>
                    <td>{{ employee.department }}</td>
                    <td>
                        {% if employee.employee_status == "active" %}
                                <span class="badge bg-success">Active</span>
                        {% else %}
                                <span class="badge bg-danger">{{ employee.employee_status }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'edit_employee' employee.id %}" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        
                        <form action="{% url 'employee_delete' employee.id %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this employee?');">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>

                        <!-- <form action="{% url 'calculate_employee_salary' employee.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm">Calculate Salary</button>
                        </form> -->
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No employees found.</td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>

    <br>

    <div class="table-container">
        <h3 class="text-center">Department List</h3>
        <br>
        <table class="table table-hover" id="departmentTable">
    <thead class="table-primary">
        <tr>
            <th>Department Name</th>
            <th>Department Code</th>
            <th>Department Head</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for department in dep_list %}
        <tr>
            <td>{{ department.dep_name }}</td>
            <td>{{ department.dep_code }}</td>
            <td>{{ department.dep_head.first_name }} {{ department.dep_head.last_name }}</td>
            <td>{{ department.dep_description }}</td>
            <td>
                <a href="{% url 'edit_department' department.id %}" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i></a>
                <form action="{% url 'delete_department' department.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this employee?');">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">No departments available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const searchInput = document.getElementById('employeeSearch');
    const employeeTable = document.getElementById('employeeTable');
    const rows = employeeTable.querySelectorAll('tbody tr');

    function filterTable() {
        const searchValue = searchInput.value.toLowerCase();

        rows.forEach(row => {
            const columns = row.querySelectorAll('td');
            const employeeName = `${columns[1].textContent} ${columns[2].textContent}`.toLowerCase(); // Check correct indices
            
            console.log("Employee Name:", employeeName); // For debugging

            const matchesSearch = employeeName.includes(searchValue);

            if (matchesSearch) {
                row.style.display = ''; 
            } else {
                row.style.display = 'none'; 
            }
        });
    }

    searchInput.addEventListener('input', filterTable);
});

</script>


