{% load widget_tweaks %}
    <div class="containe-fluid mt-5">
        <div class="scrollable-container">
            <h2 class="text-center mb-4">Files Upload</h2>
            
            <!-- Leave Type Configuration Card -->
            <div class="card shadow-sm mb-4">
                <div class="card-body d-flex align-items-center">
                    <h5 class="card-title mb-0">Upload Supporting Documents</h5>
                </div>
                <div class="card-body">
                    <!-- upload_document.html -->
                    <form method="post" enctype="multipart/form-data" id="uploadForm">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="maxLeavesPerMonth" class="form-label">Document Name</label>
                                {% render_field form.document_name placeholder="Enter Document Name" class+="form-control" %}
                            </div>
                            <div class="col-md-6">
                                <label for="leavePaid" class="form-label">Upload Document</label>
                                {% render_field form.document_file  class+="form-control" %}
                            </div>
                        </div> <!-- Render the form fields -->
                        <button type="submit" class="btn btn-primary" >Upload Document</button>
                    </form>

</div>

