{% extends 'templates/navs.html' %}
{% load widget_tweaks %}
{% load static %}
<link href="{% static 'css/emp_dash.css' %}" rel="stylesheet">


{% block content %}



<div class="container-fluid active" id="option1-section" style="display: block;" >
    {% include "templates/sub_templates/specific_project/project_info.html" %}
</div>
<div class="container-fluid" id="option2-section" style="display: none;" >
    {% include "templates/sub_templates/specific_project/chat.html" %}
</div>

<div class="container-fluid" id="option3-section" style="display: none;" >
    {% include "templates/sub_templates/specific_project/additional_files_upload.html" %}
</div>

<div class="container-fluid" id="option4-section" style="display: none;" >
    {% include "templates/sub_templates/specific_project/project_files.html" %}
</div>



{%endblock%}


