{% extends 'templates/navs.html' %}
{% load widget_tweaks %}
{% load static %}
<link href="{% static 'css/emp_dash.css' %}" rel="stylesheet">


{% block content %}

<header class="nav-bar">
    <div class="nav-bar-left">
        <nav class="nav-bar-nav">
            <a href="#" class="navbar-link active" data-tab="option1">Overview</a>
            <a href="#" class="navbar-link" data-tab="option2">Configure Projects</a>
        </nav>
    </div>
</header>
<div class="header-image"> </div>

<div class="container-fluid active" id="option1-section" style="display: block;" >
    {% include "templates/sub_templates/specific_project/project_info.html" %}
</div>
<div class="container-fluid" id="option2-section" style="display: none;">
<h3>hellow under working</h3>
</div>


{%endblock%}