{% extends 'templates/navs.html' %}
{% block title %} Dashboard {% endblock %}
{% load static %}
{%block content%}



<div  class="scrollable-container">
                    <div class="row">
                        <div class="col-xxl-3 col-md-6">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="text-center">
                                        <img src="{{ user.profile_photo.url }}" alt="Profile Picture" class="profile-img" style="height: 100px;">
                                        <div class="profile-info">
                                            <h6>{{ user.first_name }} {{ user.last_name }}</h6>
                                            <p>{{ user.job_title }}</p>
                                        </div>
                                        <div class="text-center">
                                            <h6>Reporting To</h6>
                                            <p><strong>{{ user.reporting_manager.first_name }} {{ user.reporting_manager.last_name }} </strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-9 col-md-9">
                            <div class="col-xxl-12 col-md-9">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <div class="info-section">
                                                <div class="container ">
                                                    <div class="row align-items-start">
                                                    <div class="col-md-3">
                                                        <h6>Office Location</h6>
                                                        <p>{{ user.work_location }}</p>
                                                        <h6>Time Zone</h6>
                                                        <p>(GMT+03:00)</p>
                                                    </div>
                                                    <div class="col">
                                                        <h6>Department</h6>
                                                        <p>{{ user.department }}</p>
                                                        <h6>Email</h6>
                                                        <p>{{ user.email }}</p>
                                                    </div>
                                                    <div class="col">
                                                        <h6>Shift</h6>
                                                        <p>{{ user.employment_type }}</p>
                                                    </div>
                                                    </div>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-12 col-md-9">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <div class="info-section">
                                                <div class="container ">
                                                    <div class="row align-items-start">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="d-flex align-items-center">
                                                                    <span class="icon">&#128100;</span>
                                                                    <span>Business Unit: {{ user.business_unit }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="d-flex align-items-center">
                                                                    <span class="icon">&#128101;</span>
                                                                    <span>Division: Consulting Services</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="d-flex align-items-center">
                                                                    <span class="icon">&#128102;</span>
                                                                    <span>Department: {{ user.department }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-12 col-md-9">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <div >
                                            <div class="info-section">
                                                <div class="container ">
                                                    <div class="row align-items-start">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <p><strong>Business Unit:</strong> {{ user.business_unit }}</p>
                                                                <p><strong>Department:</strong> {{ user.department }}</p>
                                                                <p><strong>Rate Basis:</strong> {{ user.rate_basis }}</p>
                                                                <p><strong>Onsite Rate:</strong> {{ user.onsite_salary }}</p>
                                                                <p><strong>Location:</strong> {{ user.work_location }}</p>
                                                                <p><strong>Designation:</strong> {{ user.position}}</p>
                                                                <p><strong>Streams:</strong> Consulting - Functional - Business Process</p>
                                                                <p><strong>WPS Profile:</strong> {{ user.wps_profile }}</p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p><strong>Zoho Role:</strong> Admin</p>
                                                                <p><strong>Division:</strong> Consulting Services</p>
                                                                <p><strong>Employment Type:</strong> {{ user.employment_type }}</p>
                                                                <p><strong>Remote Rate:</strong> {{ user.remote_salary }}</p>
                                                                <p><strong>Billing Type:</strong> {{ user.billing_type }}</p>
                                                                <p><strong>Employee Status:</strong> {{ user.employee_status }}</p>
                                                                <p><strong>Leaves Policy:</strong> {{ user.leave_policy }}</p>
                                                                <p><strong>Timesheet Required:</strong> {{ user.timesheet_required }}</p>
                                                            </div>
                                                        </div>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-12 col-md-9">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <div >
                                            <div class="info-section">
                                                <div class="container ">
                                                    <div class="row align-items-start">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <p><strong>Date of Birth</strong> {{ user.dob }}</p>
                                                                <p><strong>Age</strong> {{ user.age }}</p>
                                                                <p><strong>Gender</strong> Male</p>
                                                                <p><strong>Marital Status:</strong> {{ user.marital_status }}</p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p><strong>Ask me about/ Expertise</strong>{{ user.skills }} </p>
                                                            </div>
                                                        </div>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        


                        
</div> 
                    
                                             
{% block extra_js %}
   
{% endblock %}
{% block extra_css %}
<style>
           
            .scrollable-container {
            height: 100vh; 
            overflow-y: auto;
        }
        
        
        
        </style>
        {% endblock %}
        {%endblock%}
        
        