{% extends 'templates/navs.html' %}
{% block title %} Dashboard {% endblock %}
{% load static %}
{%block content%}

 <!-- Secondary NavBar it will be in every file for secodary file-->
<header class="nav-bar">
    <div class="nav-bar-left">
        <nav class="nav-bar-nav">
            <a href="#" class="navbar-link active" data-tab="option1">Overview</a>
            <a href="#" class="navbar-link" data-tab="option2">Dashboard</a>
            <a href="#" class="navbar-link" data-tab="option3">Calendar</a>
        </nav>
    </div>
</header>
<!-- the secondary nav is till here -->
<div class="header-image">
</div>


<div class="container-fluid active" id="option1-section">
    <div class="row">
        <div class="col">
        
            
            <div class="row">
                <!-- Profile Section -->
                <div class="col-md-3">
                    <div class="profile-card">
                        <div class="text-center">
                            <img src="{{ user.profile_photo.url }}" alt="Profile Picture" class="profile-img">
                            <div class="profile-info">
                                <h6>{{ user.first_name }} {{ user.last_name }}</h6>
                                <p>{{ user.job_title }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="profile-card2">
                        <div class="text-center">
                            <h6>Reporting To</h6>
                            <p><strong>Anjum Ali</strong></p>
                        </div>
                    </div>
                    <div class="profile-card2">
                        <h5>Department Members</h5>
                        <p>Anjum Ali</p>
                    </div>
                </div>

                <!-- Office Location and Other Info Section -->
                <div class="col-md-9">
                    <div class="profile-card3">
                        <ul class="nav profile-tabs">
                            <li class="nav-item">
                                <a class="nav-link2 active" id="profile-tab" data-tab="profile" href="javascript:void(0)">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link2" id="approvals-tab" data-tab="approvals" href="javascript:void(0)">Approvals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link2" id="leave-tab" data-tab="leave" href="javascript:void(0)">Leave</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link2" id="attendance-tab" data-tab="attendance" href="javascript:void(0)">Attendance</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link2" id="timelogs-tab" data-tab="timelogs" href="javascript:void(0)">Time Logs</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Tab Content Sections -->
                    <div class="tab-content">
                        <div class="scroll tab-pane active" id="profile-section">
                            
                            <div class="info-section">
                                <div class="container ">
                                    <div class="row align-items-start">
                                    <div class="col">
                                        <h6>Office Location</h6>
                                        <p>{{ user.work_location }}</p>
                                        <h6>Time Zone</h6>
                                        <p>(GMT+03:00)</p>
                                    </div>
                                    <div class="col">
                                        <h6>Department</h6>
                                        <p>{{ user.department }}</p>
                                        <h6>Email</h6>
                                        <p>{{ user.email }}</p>
                                    </div>
                                    <div class="col">
                                        <h6>Shift</h6>
                                        <p>{{ user.employment_type }}</p>
                                    </div>
                                    </div>
                                </div>
                                    
                            </div>

                            <div class="organization-structure-section ">
                                <h6>Organization Structure</h6>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="d-flex align-items-center">
                                            <span class="icon">&#128100;</span>
                                            <span>Business Unit: Global Operations</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-flex align-items-center">
                                            <span class="icon">&#128101;</span>
                                            <span>Division: Consulting Services</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-flex align-items-center">
                                            <span class="icon">&#128102;</span>
                                            <span>Department: Consulting Services</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="info-section">
                                <h6>Additional Information</h6>
                                <p>Some additional information about the employee...</p>
                                <div class="add-about">
                                    <i class="fas fa-plus-circle"></i>&nbsp; Add About Section
                                </div>
                            </div> -->

                            <div class="info-section">
                                <h6>Work Information</h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><strong>Business Unit:</strong> Global Operations</p>
                                        <p><strong>Department:</strong> Consulting Services</p>
                                        <p><strong>Rate Basis:</strong> Monthly Rate</p>
                                        <p><strong>Onsite Rate:</strong> 100.00</p>
                                        <p><strong>Location:</strong> Dhahran</p>
                                        <p><strong>Designation:</strong> Business Process Consultant</p>
                                        <p><strong>Streams:</strong> Consulting - Functional - Business Process</p>
                                        <p><strong>WPS Profile:</strong> Yes</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><strong>Zoho Role:</strong> Admin</p>
                                        <p><strong>Division:</strong> Consulting Services</p>
                                        <p><strong>Employment Type:</strong> Permanent</p>
                                        <p><strong>Remote Rate:</strong> 50.00</p>
                                        <p><strong>Billing Type:</strong> C Rate</p>
                                        <p><strong>Employee Status:</strong> Active</p>
                                        <p><strong>Leaves Policy:</strong> 12 Days</p>
                                        <p><strong>Timesheet Required:</strong> No</p>
                                    </div>
                                </div>
                            </div>
                            <div class="info-section">
                                <h6>Hierarchy Information</h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><strong>Reporting Manager</strong> Farooq Shaik EOOO1</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><strong>Secondary Reporting Manager</strong> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="info-section">
                                <h6>Personal Details</h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><strong>Date of Birth</strong> </p>
                                        <p><strong>Age</strong> </p>
                                        <p><strong>Gender</strong> Male</p>
                                        <p><strong>Onsite Rate:</strong> Married</p>
                                        <p><strong>About</strong> </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><strong>Ask me about/ Expertise</strong> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane" id="approvals-section" style="display: none;">
                            <div class="info-section">
                                <!-- Approvals content goes here -->
                                <p>This is the approvals section content.</p>
                            </div>
                            <div class="info-section">
                                <!-- Approvals content goes here -->
                                <p>This is the approvals section content.</p>
                            </div>
                            <div class="info-section">
                                <!-- Approvals content goes here -->
                                <p>This is the approvals section content.</p>
                            </div>
                            <div class="info-section">
                                <!-- Approvals content goes here -->
                                <p>This is the approvals section content.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="leave-section" style="display: none;">
                            <div class="info-section">
                                <!-- Leave content goes here -->
                                <p>This is the leave section content.</p>
                            </div>
                            <div class="info-section">
                                <!-- Leave content goes here -->
                                <p>This is the leave section content.</p>
                            </div>
                            <div class="info-section">
                                <!-- Leave content goes here -->
                                <p>This is the leave section content.</p>
                            </div>
                            <div class="info-section">
                                <!-- Leave content goes here -->
                                <p>This is the leave section content.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="attendance-section" style="display: none;">
                            <div class="info-section">
                                <!-- Attendance content goes here -->
                                <p>This is the attendance section content.</p>
                            </div>
                            <div class="info-section">
                                <!-- Attendance content goes here -->
                                <p>This is the attendance section content.</p>
                            </div>
                            <div class="info-section">
                                <!-- Attendance content goes here -->
                                <p>This is the attendance section content.</p>
                            </div>
                            <div class="info-section">
                                <!-- Attendance content goes here -->
                                <p>This is the attendance section content.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="timelogs-section" style="display: none;">
                            <div class="info-section">
                                <!-- Time logs content goes here -->
                                <p>This is the time logs section content.</p>
                            </div>
                            <div class="info-section">
                                <!-- Time logs content goes here -->
                                <p>This is the time logs section content.</p>
                            </div>
                            <div class="info-section">
                                <!-- Time logs content goes here -->
                                <p>This is the time logs section content.</p>
                            </div>
                            <div class="info-section">
                                <!-- Time logs content goes here -->
                                <p>This is the time logs section content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}

