{% extends 'templates/navs.html' %}
{%load static%}
{% block title %} Files {% endblock %}

{% block content %}

<link href="{% static 'css/emp_dash.css' %}" rel="stylesheet">

<header class="nav-bar">
    <div class="nav-bar-left">
        <nav class="nav-bar-nav">
            <a href="#" class="navbar-link active" data-tab="option1">Overview</a>
            <a href="#" class="navbar-link" data-tab="option2">Upload Files</a>
        </nav>
    </div>
</header>
<div class="header-image"> </div>


<div class="container-fluid active" id="option1-section" style="display: block;" >
    {% include "templates/sub_templates/files_dash.html" %}
</div>
<div class="container-fluid" id="option2-section" style="display: none;">
    {% include "templates/sub_templates/file_upload.html" %}
</div>


{%endblock%}