{% extends 'templates/navs.html' %}
{%load static%}
{% block title %} Leave {% endblock %}
{% block content %}

<header class="nav-bar">
    <div class="nav-bar-left">
        <nav class="nav-bar-nav">
            <a href="#" class="navbar-link active" data-tab="option1">Overview</a>
            <a href="#" class="navbar-link" data-tab="option2">Assign Leaves</a>
            <a href="#" class="navbar-link" data-tab="option3">Configure Leaves</a>
        </nav>
    </div>
</header>
<div class="header-image"> </div>
<div class="container-fluid active" id="option1-section" style="display: block;" >

</div>
<div class="container-fluid" id="option2-section" style="display: none;">
</div>
<div class="container-fluid" id="option3-section" style="display: none;">
    {% include "templates/sub_templates/configure_leaves.html" %}
</div>

{%endblock%}