{% extends 'templates/navs.html' %}

{% block title %} Settings {% endblock %}
{% block content %}
<style>
.secondary-nav {
    margin-top: -37px;
    background-color: #111827;
    padding: 10px 0; 
    border-radius: 50px;
}

.secondary-nav .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px; 
}

.secondary-nav .nav-links li a {
    text-decoration: none;
    color: #64748b; 
    font-weight: 500;
    padding: 8px 15px; 
    border-radius: 25px; 
    transition: background-color 0.3s, color 0.3s;
}

.secondary-nav .nav-links li a.active {
    background-color: #ff4d00; 
    color: #ffffff; 
}

.secondary-nav .nav-links li a:hover {
    background-color: #ff4d00; 
    color: #ffffff; 
}

</style>
<div class="secondary-nav">
    <ul class="nav-links">
        <li><a href="{% url 'billing_types' %}" class="{% if request.path == '/billing_types/' %}active{% endif %}">Billing Types</a></li>
        <li><a href="{% url 'departments' %}" class="{% if request.path == '/departments/' %}active{% endif %}">Departments</a></li>
        <li><a href="{% url 'document_types' %}" class="{% if request.path == '/document_types/' %}active{% endif %}">Document Types</a></li>
        <li><a href="{% url 'industry' %}" class="{% if request.path == '/industry/' %}active{% endif %}">Industry</a></li>
        <li><a href="{% url 'position' %}" class="{% if request.path == '/position/' %}active{% endif %}">Employee Positions</a></li>
        <li><a href="{% url 'role' %}" class="{% if request.path == '/role/' %}active{% endif %}">Employee Roles</a></li>
        <li><a href="{% url 'leave_config_dashboard' %}" class="{% if request.path == '/leave_config_dashboard/' %}active{% endif %}">Leave Policy</a></li>
        <li><a href="{% url 'payment_terms' %}" class="{% if request.path == '/payment_terms/' %}active{% endif %}">Payment Terms</a></li>
    </ul>
</div>
<br>


    <div id="settings-content">
        {% block settings_content %}
        

        {% endblock %}
    </div>
{% endblock %}
