{% extends 'templates/navs.html' %}
{%load static%}
{% block title %} timesheet {% endblock %}

{% block content %}


<link href="{% static 'css/emp_dash.css' %}" rel="stylesheet">


<header class="nav-bar">
    <div class="nav-bar-left">
        <nav class="nav-bar-nav">
            <a href="#" class="navbar-link active" data-tab="option1">Overview</a>
            <a href="#" class="navbar-link" data-tab="option2">Add TimeSheet</a>
            <a href="#" class="navbar-link" data-tab="option3">TimeSheet Range</a>
        </nav>
    </div>
</header>
<div class="header-image"> </div>


<div class="container-fluid active" id="option1-section" style="display: block;" >
    {% include "templates/sub_templates/time_dash.html" %}
    

</div>
<div class="container-fluid" id="option2-section" style="display: none;">
    {% include "templates/sub_templates/add_timesheet.html" %}
</div>


<div class="container-fluid" id="option3-section" style="display: none;">
    {% include "templates/sub_templates/set_timesheet_date_range.html" %}
</div>




{%endblock%}