{% extends 'templates/navs.html' %}
{% block title %} Dashboard {% endblock %}
{% load static %}
{%block content%}



<div  class="scrollable-container">
                    <div class="row">
                        <div class="col-xxl-3 col-md-6">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="text-center">
                                        <img src="{{ user.profile_photo.url }}" alt="Profile Picture" class="profile-img" style="height: 100px;">
                                        <div class="profile-info">
                                            <h6>{{ user.first_name }} {{ user.last_name }}</h6>
                                            <p>{{ user.job_title }}</p>
                                        </div>
                                        <div class="text-center">
                                            <h6>Reporting To</h6>
                                            <p><strong>{{ user.reporting_manager.first_name }} {{ user.reporting_manager.last_name }} </strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-9 col-md-9">
                            <div class="col-xxl-12 col-md-9">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <!-- <div class="text-center"> -->
                                            <div class="info-section">
                                                <div class="container ">
                                                    <h5>Basic Information</h5>

                                                    <div class="row align-items-start">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p><strong>Name:</strong> {{ user.first_name }} {{user.last_name}}</p>
                                                            <p><strong>Nick Name:</strong> {{ user.nick_name }}</p>
                                                            <p><strong>Date Of Birth:</strong> {{ user.dob }}</p>
                                                            <p><strong>Age:</strong> {{ user.age }}</p>
                                                            <p><strong>Gender:</strong> {{ user.gender }}</p>
                                                            
                                                        </div>
                                                        <div class="col">
                                                            <p><strong>Skills:</strong> {{ user.skills }}</p>
                                                            <p><strong>Marital Status:</strong> {{ user.marital_status }}</p>
                                                            <p><strong>Nationality:</strong> {{ user.nationality }}</p>
                                                            <p><strong>Linkdln:</strong> {{ user.linkdln }}</p>
                                                            <p><strong>X/Twitter:</strong> {{ user.x_twitter }}</p>
                                            
                                                        </div>
                                
                                                    </div>
                                                    </div>
                                                </div>
                                                    
                                            </div>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-12 col-md-9">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <!-- <div class="text-center"> -->
                                            <div class="info-section">
                                                <div class="container ">
                                                    <h5>Work Information</h5>

                                                    <div class="row align-items-start">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p><strong>Employee ID:</strong> {{ user.employee_id }} </p>
                                                                <p><strong>Job Title:</strong> {{ user.job_title }}</p>
                                                                <p><strong>Position:</strong> {{ user.position }}</p>
                                                                <p><strong>Department:</strong> {{ user.department }}</p>
                                                                <p><strong>Business Unit:</strong> {{ user.business_unit }}</p>
                                                            </div>
                                                            <div class="col">
                                                                <p><strong>Role:</strong> {{ user.employee_role }}</p>
                                                                <p><strong>Reporting manager:</strong> {{ user.reporting_manager }}</p>
                                                                <p><strong>Work Location:</strong> {{ user.work_location }}</p>
                                                                <p><strong>Remote Rate(Daily):</strong> {{ user.remote_salary }}$</p>
                                                                <p><strong>Onsite Rate(Daily):</strong> {{ user.onsite_salary }}$</p>
                                                                
                                                            </div>
                                                            <div class="col">
                                                                <p><strong>Rate Basis:</strong> {{ user.rate_basis }}</p>
                                                                <p><strong>Contract Start Date:</strong> {{ user.contract_start_date }}</p>
                                                                <p><strong>Contract End Date:</strong> {{ user.contract_end_date }}</p>
                                                                <p><strong>Date of Joining:</strong> {{ user.date_of_joining }}</p>
                                                                <p><strong>Employment Type:</strong> {{ user.employement_type }}</p>
                                                            </div>
                                                            <div class="col">
                                                                <p><strong>Status:</strong> {{ user.employee_status }}</p>
                                                                <p><strong>Leave policy:</strong> {{ user.leave_policy }}</p>
                                                                <p><strong>WPS Profile:</strong> {{ user.wps_profile }}</p>
                                                                <p><strong>MOL Id:</strong> {{ user.mol_id }}</p>
                                                                <p><strong>Source Of Hire:</strong> {{ user.source_of_hire }}</p>
                                                                
                                                            </div>
                                                            <div class="col">
                                                                <p><strong>TimeSheet Required:</strong> {{ user.timesheet_required }}</p>
                                                                <p><strong>SAP Certifications:</strong> {{ user.sap_certifications }}</p>
                                                                <p><strong>Total Expirence:</strong> {{ user.total_expirence }}</p>                                                                
                                                            </div>
                                                            
                                                        </div>
                                                </div>
                                                    
                                            </div>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-12 col-md-9">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <div >
                                            <div class="info-section">
                                                <div class="container ">
                                                    <h5>Seperation Information</h5>

                                                    <div class="row align-items-start">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p><strong>Date Of Exit:</strong> {{ user.date_of_exit }}</p>
                                                            </div>
                                                            <div class="col"> 
                                                                <p><strong>Reason For Exit:</strong> {{ user.reason_for_exit }}</p>
                                                            </div>
                                                            <div class="col">
                                                                <p><strong>Can Join Again:</strong> {{ user.can_join_again }}</p>
                                                            </div>
                                                        </div>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-12 col-md-9">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <div >
                                            <div class="info-section">
                                                <div class="container ">
                                                    <h5>Bank Account Details</h5>

                                                    <div class="row align-items-start">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p><strong>Bank Name:</strong> {{ user.bank_account }}</p>
                                                                <p><strong>Bank Account Country:</strong> {{ user.bank_country }}</p>
                                                                <p><strong>Account Type:</strong> {{ user.account_type }}</p>
                                                                <p><strong>Account Number:</strong> {{ user.account_number }}</p>
                                                
                                                            </div>
                                                            <div class="col">
                                                                <p><strong>IBAN Number:</strong> {{ user.iban_number }}</p>
                                                                <p><strong>Routing Code:</strong> {{ user.routing_code }}</p>
                                                                <p><strong>Swift Code:</strong> {{ user.swift_code }}</p>
                                                                <p><strong>IFSC Code:</strong> {{ user.ifsc_code }}</p>                                                
                                                            </div>
                                                        </div>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-12 col-md-9">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <!-- <div class="text-center"> -->
                                            <div class="info-section">
                                                <div class="container ">
                                                    <h5>Contact Details</h5>

                                                    <div class="row align-items-start">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p><strong>Email:</strong> {{ user.email }}</p>
                                                            <p><strong>Work Phone:</strong> {{ user.phone }}</p>
                                                            <p><strong>Personel Phone:</strong> {{ user.personel_phone }}</p>
                                                            <p><strong>Present Address:</strong> {{ user.address }}</p>
                                                            <p><strong>Permanent Address:</strong> {{ user.permanent_address }}</p>
                                                            
                                                        </div>
                                                        <div class="col">
                                                            <p><strong>Emergency Contact Name:</strong> {{ user.emergency_name }}</p>
                                                            <p><strong>Relation With Emergency Contact:</strong> {{ user.emergency_relation }}</p>
                                                            <p><strong>Emergency Contact Number:</strong> {{ user.emergency_phone }}</p>
                            
                                            
                                                        </div>
                                
                                                    </div>
                                                    </div>
                                                </div>
                                                    
                                            </div>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-12 col-md-9">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <!-- <div class="text-center"> -->
                                            <div class="info-section">
                                                <div class="container ">
                                                    <h5>Travel History</h5>

                                                    <div class="row align-items-start">
                                                    <div class="row">
                                                        <div class="col">
                                                            <p><strong>First Entry Into Country:</strong> {{ user.first_entry_in_country }}</p>
                                                            <p><strong>Latest Exit From Country:</strong> {{ user.latest_exit_from_country }}</p>
                                                            
                                                            
                                                        </div>
                                                        <div class="col">
                                                            <p><strong>Latest Entry Into Country</strong> {{ user.latest_entry_in_country }}</p>
                                                            <p><strong>Days From Latest Entry:</strong> {{ user.days_from_latest_entry }}</p>
                            
                                            
                                                        </div>
                                
                                                    </div>
                                                    </div>
                                                </div>
                                                    
                                            </div>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        


                        
</div> 
                    
                                             
{% block extra_js %}
   
{% endblock %}
{% block extra_css %}
<style>
           
            .scrollable-container {
            height: 100vh; 
            overflow-y: auto;
        }
        
        
        
        </style>
        {% endblock %}
        {%endblock%}
        
        